@model cerberus.Models.edmx.Warehouse

<div class="container">
    <h2>Вы уверены, что хотите удалить это?</h2>

    <div>
        <h4>Склад</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Отдел
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.name)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">Удалить</button> |

            </div>
        }
    </div>
</div>