@{
    ViewBag.Title = "Ошибка при входе";
}


@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<main>
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Не удалось войти через службу.</h3>
    </hgroup>
</main>