@model cerberus.Models.edmx.FactorySite

<div class="container">
    <h2>Вы уверены, что хотите удалить это?</h2>
    <div>
        <h4>FactorySite</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="name" class="control-label">Название:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                <label for="Department.name" class="control-label">Отдел:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.name)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">Удалить</button> |

            </div>
        }
    </div>
</div>