@model cerberus.Models.ViewModels.DepartmentViewModel

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label for="name" class="control-label">Название:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
