@model cerberus.Models.edmx.Department

<div class="container">
    <h2>Информация об отделе</h2>
    <hr />

    <div>
        <h4>Отдел</h4>
        <hr />
        <div>
            <h5>Название:</h5>
            <p>@Html.DisplayFor(model => model.name)</p>
        </div>
    </div>

    <div class="form-actions no-color">
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |

    </div>
</div>