
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Group Deleted";
}

<h2>Group Deleted</h2>

<p>The group "@Model.Name" has been successfully deleted.</p>

@Html.ActionLink("Back to List", "Index")