@model cerberus.Models.ViewModels.GroupViewModel

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Наименование:</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>
@Html.ActionLink("Обратно", "Index")