@model cerberus.Models.ViewModels.GroupCreateModel
@{
    ViewBag.Title = "Создать группу";
}

<h2>Создать группу</h2>

@using (Html.BeginForm("GroupCreate", "GroupUser", FormMethod.Post))
{
    <div class="form-control">
        @Html.Label("Наименование:")
        @Html.TextBox("id")
    </div>
    <input type="submit" value="Создать" class="btn btn-primary" />

}

@Html.ActionLink("Обратно", "Index")