
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Удалить группу";
}

<h2>Удалить группу</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Наименование:</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>

@using (Html.BeginForm("GroupDeleteConfirmed", "GroupUser", new { id = Model.Name }, FormMethod.Post))
{
    <input type="submit" value="Удалить" class="btn btn-danger"/>
}

@Html.ActionLink("Отмена", "Index")