
@model cerberus.Models.ApplicationUser

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>

<div>
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>
        <dt>User Roles:</dt>
        <dd>
            @foreach (var role in Model.Roles)
            {
                var identityRoles = (ICollection<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewBag.Roles;

                @identityRoles.Where(r => r.Id == role.RoleId).First().Name
            }
        </dd>
    </dl>
</div>

@using (Html.BeginForm("UserDeleteConfirmed", "GroupUser", new { id = Model.UserName }, FormMethod.Post))
{
    <input type="submit" value="Delete" />
}

@Html.ActionLink("Cancel", "Index")