
@model cerberus.Models.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Имя:</dt>
        <dd>@Model.UserName</dd>
        <dt>Роли:</dt>
        <dd>
            @foreach (var role in Model.Groups)
            {
                @role.Name
            }
        </dd>
    </dl>
</div>
@Html.ActionLink("Обратно", "Index")