
@model cerberus.Models.ApplicationUser

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Имя:</dt>
        <dd>@Model.UserName</dd>
        <dt>Роли:</dt>
        <dd>
            @foreach (var role in Model.Roles)
            {
                
                var identityRoles = (ICollection<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewBag.Roles;
                
                @identityRoles.Where(r => r.Id == role.RoleId).First().Name
            }
        </dd>
    </dl>
</div>
@Html.ActionLink("Обратно", "Index")