@model cerberus.Models.ViewModels.Reports.FSSupplyRequirementReportFormViewModel

<div class="container">
    <h2>Отчет о запросе снабжения</h2>
    <hr />

    <p>Участок: @ViewBag.FactorySites[Model.factorysite_id].name</p>

    <p>Целевой склад: @ViewBag.WareHouses[Model.target_warehouse_id].name</p>

    <h5>Запрошено:</h5>
    <div>
        @if (Model.items.Count() == 0)
        {
            <div>
                <p>Ничего</p>
            </div>
        }
        @foreach (var item in Model.items)
        {
            <div>
                <p>@ViewBag.Items[item.Key].name : @item.Value</p>
            </div>
        }
    </div>

</div>

