@model cerberus.Models.ViewModels.Reports.WHInventarisationReportFormViewModel

<div class="container">
    <h2>Отчет об инвентаризации</h2>
    <hr />

    <p>Склад: @ViewBag.WareHouses[Model.warehouse_id].name</p>

    <h5>Список инвентаризированного:</h5>
    <div>
        @if (Model.items.Count() == 0)
        {
            <div>
                <p>Ничего</p>
            </div>
        }
        @foreach (var item in Model.items)
        {
            <div>
                <p>@ViewBag.Items[item.Key].name : @item.Value</p>
            </div>
        }


    </div>
</div>